<!-- se hereda del base.html -->
{% extends 'base.html'%}

{% block title %}
    {{super()}}
    {{name}} 
{% endblock%}

{% block content%}
    {% if not name %}
        <form action = "http://127.0.0.1:5000/form-example" method="post">
            <h3>Llena el formulario</h3>
            <label for="name">
                <span>Nombre</span>
                <input type="text" id="name" name="name" required>
            </label>
            <input type="submit" value="Enviar">
        </form>
    {% else %}
        <p>Welcome: {{name}}</p>
    {% endif %}
{% endblock%}


   

