.navbar-custom {
    background-color: #3b4b34; /* Puedes cambiar este código de color */
    transition: background-color 0.5s;
}

body {
    background-color: #212121;
    color: white
}

/*212121*/

.main-table{
    padding-left: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
}

#titulo-tabla{
    color: aqua;
}