{% extends "bootstrap/base.html" %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
{% endblock %}


{% block body %}

    {% block navbar %}
        {%include 'navbar.html'%}
    {% endblock %}

    {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible">
            <!--Se coloca un boton que permitira cerrar el flash, data-dismiss permitira cerrar la alerta-->
            <button type="button" data-dismiss="alert" class="close">&times;</button>
            {{message}}
        </div>
    {% endfor %}

    {% block content%}
        <!--Contendio de los otros templates-->
    {% endblock%}

    <!-- importa los archivos javascript de bootstrap, y hereda, sin esto no se puede cerrar los flashes-->
    {% block scripts %}
        {{super()}}
    {% endblock%}
    
{% endblock %}


